*{
  font-family: 'Balsamiq Sans';
  color: white;
}
.navigation ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 10px;
  margin-right: 4px;
}
.navigation ul li{
  list-style: none;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #182b3a;
  box-shadow: 4px 4px 10px #182b3a;
}
.navigation ul li:hover{
  transform: scale(1.2);
}
.navigation ul li a{
  text-decoration: none;
  text-align: center;
  padding: 3px;
  font-size: 13px;
  }
.navigation ul li a:hover{
  color:#20a4f3 ;
}
p{
  text-align: center;
}