*{
    font-family: 'Balsamiq Sans';
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(43, 6, 73, 0.8), rgb(23, 14, 102, 0.8), rgb(43, 6, 73, 0.8), rgb(23, 14, 102, 0.8));
}
.box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: linear-gradient( #020E75, #2504CC, #020E75, #2504CC, #020E75); */
}
.heading{
    font-weight: bolder;
    text-align: center;
    /* text-shadow: 0px 0px 3px rgb(59, 20, 82); */
    background: linear-gradient(to right, rgb(43, 6, 73), rgb(23, 14, 102), rgb(43, 6, 73));

    border-radius: 4px;
}
.book_o{
    width: 90%; 
    border: 2px solid rgb(10, 10, 30);
    border-radius: 15px;
    display: flex;
    margin: 3%;
    background: linear-gradient(to left, rgb(37, 5, 63), rgb(30, 19, 133));
    
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(10, 10, 30);
}
.book_e{
    width: 90%; 
    border: 2px solid rgb(10, 10, 30);
    border-radius: 15px;
    display: flex;
    margin: 3%;
    background: linear-gradient(to right, rgb(37, 5, 63), rgb(30, 19, 133));

    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgb(10, 10, 30);
}
.p1_o{
    width: 20%;
    margin: 2% 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1_e{
    width: 20%;
    margin: 2% 5%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 50%;
    padding: 12% 1%;
    width: 50%;
    height: 50%;
}
.p2_o{
    width: 60%;
    margin: 2% 5%;
}
.p2_e{
    width: 60%;
    margin: 2% 5%;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}
div.icon{
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
div.icon div{
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.icon div a{
    color: ivory;
}

@media screen and (max-width: 650px) {
    .book_o{
        flex-direction: column;
    }
    .p1_o{
        width: 30%;
    }
    .p2_o{
        width: 90%;
        text-align: justify;
    }
    .book_e{
        flex-direction: column-reverse;
    }
    .p2_e{
        width: 90%;
        text-align: justify;
    }
    .p1_e{
        width: 30%;
    }
    .box{
        text-align: justify;
    }
}

